<!-- curriculum.html -->
{% extends "subjects/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
    {% if message %}
    <div>
        <h4 class="alert alert-info forn-weight-bold">{{ message }}</h4>
        <a href="{% url "subjects-list" %}" class="btn btn-primary">Back to my curriculum</a>
    </div>
    {% else %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "subjects-list" %}">subjects</a></li>
            <li class="breadcrumb-item"><a href="{% url "units-list" unit.subject.id %}">{{ unit.subject.title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        </ol>
    </nav>
    <div class="row">
        <!-- Loop through each chapter in the unit -->
        {% for chapter in chapters %}
            <div class="col-md-4 mb-4" id="card-div">
                <a class="nav-item nav-link" href="{% url "lessons-list" chapter.id %}">
                    <div class="card">
                        <img src="{{ chapter.cover.url }}" class="card-img-top" alt="{{ chapter.title }}">
                        <div class="card-body">
                            <h5 class="card-title">Chapter {{ chapter.number }}: {{ chapter.title }}</h5>
                            <p class="card-text">{{ chapter.caption }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <article class="generate-exam">
        <div class="row mb-2 mt-2 text-muted">Want an exam for this unit?</div>
        <form action="{% url "generate-exam" %}" method="POST" class="d-flex justify-content-center">
            {% csrf_token %}
            {{ exam_form|crispy }}
            <button type="submit" class="btn btn-primary">Generate Exam</button>
        </form>
    </article>
    {% endif %}
</div>
{% endblock %}
