<!-- curriculum.html -->
{% extends "subjects/base.html" %}

{% block content %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "subjects-list" %}">subjects</a></li>
            <li class="breadcrumb-item"><a href="{% url "units-list" chapter.unit.subject.id %}">{{ chapter.unit.subject.name }}</a></li>
            <li class="breadcrumb-item"><a href="{% url "chapters-list" chapter.unit.id %}">{{ chapter.unit.title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ chapter.title }}</li>
        </ol>
    </nav>
    <div class="row">
        <!-- Loop through each lesson in the chapter -->
        {% for lesson in chapter.lessons.all %}
            <div class="col-md-4 mb-4" id="card-div">
                <div class="card">
                    <img src="{{ lesson.cover.url }}" class="card-img-top" alt="{{ lesson.title }}">
                    <div class="card-body">
                        <a class="nav-item nav-link" href="{% url "lesson-details" lesson.id %}">
                            <h5 class="card-title article-title">
                                {% if lesson.number > 0 %}Lesson {{ lesson.number }}: {% endif %}{{ lesson.title }}
                            </h5>
                        </a>
                        <p class="card-text">{{ lesson.caption }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="generate-button">
        <form method="POST" class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary"> Generate an Exam on chapter <br> {{ lessons.0.chapter.title }}</button>
        </form>
    </div>
</div>
{% endblock %}
