<!-- curriculum.html -->
{% extends "subjects/base.html" %}
{% load crispy_forms_tags %}
{% csrf_token %}
{% block content %}
<div class="container mt-4">
    {% if message %}
    <div>
        <h4 class="alert alert-info forn-weight-bold">{{ message }}</h4>
        <a href="{% url "subjects-list" %}" class="btn btn-link">Back to my curriculum</a>
    </div>
    {% else %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "subjects-list" %}">subjects</a></li>
            <li class="breadcrumb-item"><a href="{% url "units-list" lesson.chapter.unit.subject.id %}">{{ lesson.chapter.unit.subject.name }}</a></li>
            <li class="breadcrumb-item"><a href="{% url "chapters-list" lesson.chapter.unit.id %}">{{ lesson.chapter.unit.title }}</a></li>
            <li class="breadcrumb-item"><a href="{% url "lessons-list" lesson.chapter.id %}">{{ lesson.chapter.title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ lesson.title }}</li>
        </ol>
    </nav>
    <article class="lesson">
        <section class="lesson-title">
            <h1 class="">{% if lesson.number > 0 %} Lesson {{ lesson.number }} : {% endif %}{{ lesson.title }}</h1>
        </section>
        <section class="lesson">
            <div class="lesson-header">
                <h3>Intro</h3>
                <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#introContent" aria-expanded="false" aria-controls="introContent">
                    <i class="bi bi-chevron-down"></i>
                </button>
            </div>
            <p id="introContent" class="lesson-content collapse show">
                {{ lesson.intro|safe }}
            </p>
        </section>
        <section class="lesson">
            <div class="lesson-header">
                <h3>Goals</h3>
                <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#goalsContent" aria-expanded="false" aria-controls="goalsContent">
                    <i class="bi bi-chevron-down"></i>
                </button>
            </div>
            <div id="goalsContent" class="lesson-content collapse show">
                {{ lesson.goals|safe }}
            </div>
        </section>
        <section class="lesson">
            <div class="lesson-header">
                <h3>Details</h3>
                <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#detailsContent" aria-expanded="false" aria-controls="detailsontent">
                    <i class="bi bi-chevron-down"></i>
                </button>
            </div>
            <div id="detailsContent" class="lesson-content collapse show">
                {{ lesson.details|safe }}
            </div>
        </section>
    </article>
    <article class="generate-exam">
        <div class="row mb-2 mt-2 text-muted">Want an exam for this lesson?</div>
        <form action="{% url "generate-exam" %}" method="POST" class="d-flex justify-content-center">
            {% csrf_token %}
            {{ exam_form|crispy }}
            <button type="submit" class="btn btn-primary">Generate Exam</button>
        </form>
    </article>
</div>
{% endif %}
{% endblock %}
