<!-- curriculum.html -->
{% extends "subjects/base.html" %}

{% block content %}
<div class="container mt-4">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">subjects</li>
            </ol>
        </nav>
    </div>
    <div class="row justify-content-center">
        <!-- Loop through each subject -->
        {% for subject in subjects %}
            <div class="col-md-4 col-sm-1 mb-3" id="card-div">
                <a class="nav-item nav-link" href="{% url "units-list" subject.id %}">
                    <div class="card">
                        <img src="{{ subject.cover.url }}" class="card-img-top" alt="{{ subject.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ subject.name }}</h5>
                            <p class="card-text">{{ subject.caption }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
