<!-- curriculum.html -->
{% extends "subjects/base.html" %}
{% block content %}
<div class="container mt-4">
    {% if message %}
    <div>
        <h4 class="alert alert-info forn-weight-bold">{{ message }}</h4>
    </div>
    {% else %}
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">subjects</li>
            </ol>
        </nav>
    </div>
    <div class="row justify-content-center">
        <!-- Loop through each subject -->
        {% for subject in subjects %}
            <div class="col-md-4 col-sm-1 mb-3" id="card-div">
                <div class="card">
                    <img src="{{ subject.cover.url }}" class="card-img-top" alt="{{ subject.title }}">
                    <div class="card-body">
                        <a class="nav-item nav-link" href="{% url "units-list" subject.id %}">
                            <h5 class="card-title">{{ subject.title }}</h5>
                        </a>
                        <p class="card-text">{{ subject.caption }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
