<!-- curriculum.html -->
{% extends "subjects/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
    {% if message %}
    <div>
        <h4 class="alert alert-info forn-weight-bold">{{ message }}</h4>
        <a href="{% url "subjects-list" %}" class="btn btn-link">Back to my curriculum</a>
    </div>
    {% else %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "subjects-list" %}">subjects</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        </ol>
    </nav>
    <div class="row">
        <!-- Loop through each unit in the subject -->
        {% for unit in units %}
            <div class="col-md-4 mb-4" id="card-div">
                <a class="nav-item nav-link" href="{% url "chapters-list" unit.id %}">
                    <div class="card">
                        <img src="{{ unit.cover.url }}" class="card-img-top" alt="{{ unit.title }}">
                        <div class="card-body">
                            <h5 class="card-title">Unit {{ unit.number }}: {{ unit.title }}</h5>
                            <p class="card-text">{{ unit.caption }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <article class="generate-exam d-flex justify-content-around ml-lg-5 mr-lg-5">
        <form action="{% url "exams" %}" method="GET" class="">
            <input type="hidden" name="focus" value="subject">
            <input type="hidden" name="filter_id" value="{{ units.1.subject.id }}">
            <input type="hidden" name="is_solved">
            <button type="submit" class="btn btn-outline-secondary">Go to Relataed Exams</button>
        </form>
        <h4 class="">OR</h4>
        <form action="{% url "generate-exam" %}" method="POST">
            {% csrf_token %}
            {{ exam_form|crispy }}
            <button type="submit" class="btn btn-primary">Generate Exam</button>
        </form>
    </article>
    {% endif %}
</div>
{% endblock %}
