<!-- curriculum.html -->
{% extends "subjects/base.html" %}

{% block content %}
<div class="container mt-4">
    {% if message %}
    <div>
        <h4 class="alert alert-info forn-weight-bold">{{ message }}</h4>
        <a href="{% url "subjects-list" %}" class="btn btn-link">Back to my curriculum</a>
    </div>
    {% else %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "subjects-list" %}">subjects</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ subject.name }}</li>
        </ol>
    </nav>
    <div class="row">
        <!-- Loop through each unit in the subject -->
        {% for unit in subject.units %}
            <div class="col-md-4 mb-4" id="card-div">
                <a class="nav-item nav-link" href="{% url "chapters-list" unit.id %}">
                    <div class="card">
                        <img src="{{ unit.cover.url }}" class="card-img-top" alt="{{ unit.title }}">
                        <div class="card-body">
                            <h5 class="card-title">Unit {{ unit.number }}: {{ unit.title }}</h5>
                            <p class="card-text">{{ unit.caption }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
