<!-- curriculum.html -->
{% extends "subjects/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Loop through each unit in the subject -->
        {% for unit in units %}
            <div class="col-md-4 mb-4">
                <a class="nav-item nav-link" href="{% url "chapters-list" unit.id %}">
                    <div class="card">
                        <img src="{{ unit.cover.url }}" class="card-img-top" alt="{{ unit.title }}">
                        <div class="card-body">
                            <h5 class="card-title">Unit {{ unit.number }}: {{ unit.title }}</h5>
                            <p class="card-text">{{ unit.caption }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
