{% extends "subjects/base.html" %}
{% load static %}
{% block title %}Subjects Dashboard{% endblock %}

{% block content %}
<h1 class="font-weight-bold">Subjects Dashboard</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for subject in subjects %}
                <section class="lesson" style="width: fit-content; min-width: 12in">
                    <div class="lesson-header">
                        <a href="{% url "units-dashboard" subject.id %}" class="text-decoration-none"><h3> {{ subject.title }} Score Progress</h3></a>
                        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#{{subject.title|slugify}}-plot" aria-expanded="false" aria-controls="{{subject.title|slugify}}-plot">
                            <i class="bi bi-chevron-down"></i>
                        </button>
                    </div>
                    <div id="{{subject.title|slugify}}-plot" class="lesson-content collapse show">
                        <div class="d-flex flex-row flex-wrap justify-content-sm-center">
                            <img src="{{ subject.plot_url }}" alt="{{subject.title|slugify}} Score Plot" srcset="">
                        </div>
                        <a href="{{ subject.plot_url }}" download="{{subject.title|slugify}}_progress.jpg" class="btn btn-primary" alt="download {{subject.title|slugify}} score plot">
                            <i class="fa fa-download" aria-hidden="false"></i>
                        </a>
                    </div>
                </section>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
