{% extends "subjects/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container col-30">
    <h1>Exam List</h1>
    <div class="d-flex flex-row flex-wrap justify-content-around align-content-sm-start">
        {% for exam in exams %}
            <div class="card border-secondary m-3 col-3" style="min-width: max-content;">
                <div class="card-body p-3">
                    <h4 class="card-title border-bottom">Lesson Exam</h4>
                    <div class="d-flex justify-content-around mb-5">
                        <a href="{% url "solved-exam" exam.id %}">Got to Exam</a>
                        <a href="{% url "lesson-details" exam.lesson.id %}">Got to lesson</a>
                    </div>
                    <p class="card-text">Score: {{ exam.score }}</p>
                    <p class="card-text">Date created: {{ exam.created_at|date }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Pagination controls -->
    <div class="pagination">
        <span class="step-links">
            {% if exams.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ exams.previous_page_number }}"> &lt; previous</a>
            {% endif %}

            <span class="current">
                Page {{ exams.number }} of {{ exams.paginator.num_pages }}.
            </span>

            {% if exams.has_next %}
                <a href="?page={{ exams.next_page_number }}">next &gt; </a>
                <a href="?page={{ exams.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}
